#IngLabel {
    -fx-font-size: 22;
    -fx-font-weight: bold;
}
#ImPane {
	-fx-background-color:#c8d4dc;
}
#beschList {
	-fx-background-color:#c8d4dc;
}
#catList .scroll-bar:vertical {
   -fx-padding: -100px;
   -fx-opacity: 0;
} 
#catList .list-cell:odd {
	-fx-background-color:#c8d4dc;
}
#catList .list-cell:even {
	-fx-background-color:#a8c4dc;
}
#catList .list-cell:selected:odd,
#catList .list-cell:selected:even {
    -fx-background-color: -fx-background;
}
#catList .list-cell:empty {
    -fx-background-color:#c8d4dc;
}

#catPane {
	-fx-background-color:#688cbc;

}
#filler {
	-fx-background-color:#e8c4ac;
}
#labelPane {
	-fx-border-radius:30 30 0 0;
	-fx-background-radius:30 30 0 0;
	-fx-background-color:#c8d4dc;
}
#info {
	-fx-background-color:#a8c4dc;
	-fx-background-insets: 1;
	-fx-effect: dropshadow(one-pass-box, grey, 10, 0.7, 0, 0);
}
#infoIconBox {
	-fx-background-color:#c8d4dc;
}
#recipeBorder {
	-fx-background-color:#c8d4dc;
}
#recipeControlBox {
	-fx-border-radius:0 0 30 30;
	-fx-background-radius:0 0 30 30;
	-fx-background-color:#c8d4dc;
}
#recList .scroll-bar:vertical {
   -fx-padding: -100px;
   -fx-opacity: 0;
} 
#recList .list-cell:odd {
	-fx-background-color:#c8d4dc;
}
#recList .list-cell:even {
	-fx-background-color:#a8c4dc;
}
#recList .list-cell:selected:odd, 
#recList .list-cell:selected:even {
    -fx-background-color: -fx-background;
}
#recList .list-cell:empty {
    -fx-background-color:#c8d4dc;
}


#recTitle {
	-fx-font-size: 40px;
	-fx-underline: true;
}
#titleBox {
	-fx-background-color:#e8c4ac;
}
#topControl {
	-fx-background-color:#688cbc;
}
#recipeScrollPane {
	
}
#recipeLeftGrid {
	-fx-background-color:#e8c4ac;

	
} 
#zutList .list-cell:empty {
    -fx-background-color:#c8d4dc;

}
#zutList {
	-fx-background-insets: 1;
	-fx-effect: dropshadow(one-pass-box, grey, 10, 0.7, 0, 0);
	-fx-background-color:#f0d4ec;
}
#zutList .list-cell:odd {
	-fx-background-color:#c8d4dc;
}
#zutList .list-cell:even {
	-fx-background-color:#a8c4dc;
}
#zutList .list-cell:selected:odd,
#zutList .list-cell:selected:even {
    -fx-background-color: -fx-background;
    }
