

#catList .scroll-bar:vertical {
   -fx-padding: -100px;
   -fx-opacity: 0;
} 
#catList .list-cell:odd {
	-fx-background-color:#00b894;
}
#catList .list-cell:even {
	-fx-background-color:#00cec9;
}
#catList .list-cell:selected:odd,
#catList .list-cell:selected:even {
    -fx-background-color: -fx-background;
}
#catList .list-cell:empty {
    -fx-background-color:#f0d4ec;
}

#catPane {
	-fx-background-color:#d8bfd4;

}

#labelPane {
	-fx-border-radius:30 30 0 0;
	-fx-background-radius:30 30 0 0;
	-fx-background-color:#f0d4ec;
}
#info {
	-fx-background-color:#f0d4ec;
	-fx-background-insets: 1;
	-fx-effect: dropshadow(one-pass-box, grey, 10, 0.7, 0, 0);
}
#recipeControlBox {
	-fx-border-radius:0 0 30 30;
	-fx-background-radius:0 0 30 30;
	-fx-background-color:#f0d4ec;
}
#recList .scroll-bar:vertical {
   -fx-padding: -100px;
   -fx-opacity: 0;
} 
#recList .list-cell:odd {
	-fx-background-color:#0984e3;
}
#recList .list-cell:even {
	-fx-background-color:#ff7675;
}
#recList .list-cell:selected:odd, 
#recList .list-cell:selected:even {
    -fx-background-color: -fx-background;
}
#recList .list-cell:empty {
    -fx-background-color:#f0d4ec;
}


#recTitle {
	-fx-font-size: 40px;
	-fx-underline: true;
}
#titleBox {
	-fx-background-color:#e6dce3;
}
#topControl {
	-fx-background-color:#1D1D1F;
	-fx-opacity: 0.8;
}
#recipeScrollPane {
	
}
#recipeBorder {
	-fx-background-color:#f0f8fc; 
}
#recipeLeftGrid {
	-fx-background-color:#e6dce3;

	
} 
#zutList .list-cell:empty {
    -fx-background-color:#f0d4ec;

}
#zutList {
	    	-fx-background-insets: 1;
	-fx-effect: dropshadow(one-pass-box, grey, 10, 0.7, 0, 0);
}
