#catList .scroll-bar:vertical {
   -fx-padding: -100px;
   -fx-opacity: 0;
} 
#catList .list-cell:odd {
	-fx-background-color:#00b894;
}
#catList .list-cell:even {
	-fx-background-color:#00cec9;
}
#catList .list-cell:selected:odd,
#catList .list-cell:selected:even {
    -fx-background-color: -fx-background;
}
#catList .list-cell:empty {
    -fx-background-color: #d8bfd4;
}


#catPane {
	-fx-background-color:#f0d4ec;
}
#labelPane {
	-fx-border-radius:30 30 0 0;
	-fx-background-radius:30 30 0 0;
	-fx-background-color:#d8bfd4;
}
#recipeControlBox {
	-fx-border-radius:0 0 30 30;
	-fx-background-radius:0 0 30 30;
	-fx-background-color:#d8bfd4;
}
#recList .scroll-bar:vertical {
   -fx-padding: -100px;
   -fx-opacity: 0;
} 
#recList .list-cell:odd {
	-fx-background-color:#0984e3;
}
#recList .list-cell:even {
	-fx-background-color:#ff7675;
}
#recList .list-cell:selected:odd, 
#recList .list-cell:selected:even {
    -fx-background-color: -fx-background;
}
#recList .list-cell:empty {
    -fx-background-color: #d8bfd4;
}


#recTitle {
	-fx-font-size: 40px;
	-fx-underline: true;
}
#titleBox {
	-fx-background-color:#2980b9;
}
#topControl {
	-fx-background-color:#8e44ad;
}
#recipeScrollPane {
	
}
#recipeBorder {
	-fx-background-color:#1abc9c; 
}
#recipeLeftGrid {
	-fx-background-color:#e67e22;
} 
